#demo {
    background-image: url("../assets/img/testt.png");
    margin-top: 4rem;
    padding: 5rem;
}

#demo h2 {
    margin: 0;
}

#demo h3 {
    text-align: center;
    font-size: var(--font-body);
    color: var(--color-prim-dark);
    margin-bottom: 3rem;
}

#demo video {
    display: block;
    margin: 0 auto 10% auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 800px;
    border: 2px solid var(--color-sec-dark);
}