#demo {
    background-image: url("../assets/img/testt.png");
    margin-top: 4rem;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

#demo h2 {
    margin: 0;
}

#demo h3 {
    text-align: center;
    font-size: var(--font-body);
    color: var(--color-prim-dark);
    margin-bottom: 3rem;
}

#demo video {
    
    width: 80%;
    max-width: 800px;
    border: 2px solid var(--color-sec-dark);
}

@media (max-width: 480px) {
    #demo video {
    display: flex;
    justify-content: center;
    margin: 0 rem 0 0.5rem;
    min-width: 300px;
    width: 80%;
    }
}