footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-prim);
    color: var(--g100);

    .footer-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8%;
        padding: 2rem 0;
    }

    #copy {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .footer-nav {
        margin: 0 3rem;

        .footer-card {
            align-self: stretch;
            max-width: 20%;
        }
    }
}