:root {
  /* --========== Basics ==========-- */
  --color-prim: #605ba8;
  --color-prim-dark: #4d4990;
  --color-sec: #5fc9da;
  --color-sec-dark: #3fb3c6;

  /* --========== Shades of grey ==========--*/
  --g900: #1c1e26;
  --g700: #3a3d4a;
  --g500: #6b6f7e;
  --g300: #b4b7c2;
  --g100: #e6e7ec;
  --g50: #f6f7f9;
  --white: #ffffff;

  /* --========== Fonts ==========-- */
  --font-title: "Futura", "Century Gothic", "Trebuchet MS", sans-serif;
  --font-body: "Lato", "Helvetica Neue", Arial, sans-serif;
}


@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/futura-pt/FuturaCyrillicBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/futura-pt/FuturaCyrillicDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/futura-pt/FuturaCyrillicBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@media (max-width: 768px) {
  .hero::before {
    filter: blur(8px);
    transform: scale(1.1);
  }
}

/* --========== Body ==========-- */
body {
  font-family: var(--font-body);
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0;
  color: var(--color-sec);
}

h1 {

  text-align: left;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 3rem 0;
  color: var(--color-sec);
}

/* --========== Header ==========-- */

header {

  display: flex;
  background-color: var(--color-sec);
  padding: 20px;
  max-width: 100vw;
  text-align: right;
}



header nav {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

header ul {

  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo {
  display: block;
}

.logo img {
  min-height: 82px;
  max-height: 82px;
  min-width: 300px;
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}

.try-btn {

  background-color: #605BA8;
  color: #5FC9DA;
  border: solid #5FC9DA;
  border-radius: 15px;
  padding: 10px;
}


.try-btn:hover {

  background-color: #5FC9DA;
  color: #605BA8;
  border: solid #605BA8;
}

/* --========== 01 Hero ==========-- */

.hero {
  position: relative;
  padding-left: 50px;
  max-height: calc(100vh - 122px);
  overflow: hidden;
}
/* background */

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../assets/img/desktop_hero.png");
  background-size: 50%;
  background-position: right top;
  background-repeat: no-repeat;

  z-index: -1;

  transition: filter 0.3s ease;
}

.hero p {
  font-size: 1.2rem;
  font-weight: bold;
}

.description {
  padding-left: 120px;
  padding-bottom: 50px;
}

.tick {
  fill-opacity: var(--color-prim);
}

.hero-li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 120px;
}

.hero-li img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 200px;
  padding-bottom: 50px;
  font-size: 1.2rem;
  z-index: +1;
}

#tarifs-btn {
  border: 2px solid var(--color-prim);
  border-radius: 7.5px;
  padding: 2px 15px 2px 15px;
  color: var(--color-prim);
  background-color: #FFFFFF;
  font-weight: 700;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#tarifs-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#try-btn {
  border: 2px solid var(--color-sec);
  background: #4D4990;
  background: -moz-linear-gradient(top, #4D4990 0%, #605BA8 50%, #3FB3C6 100%);
  background: -webkit-linear-gradient(top, #4D4990 0%, #605BA8 50%, #3FB3C6 100%);
  background: linear-gradient(to bottom, #4D4990 0%, #605BA8 50%, #3FB3C6 100%);
  border-radius: 7.5px;
  padding: 2px 15px 2px 15px;
  color: var(--color-sec);
  font-weight: 700;
  transition: transform 0.3s ease;
}

#try-btn:hover {
  border: 2px solid var(--color-prim);
  background: #3FB3C6;
  background: -moz-linear-gradient(top, #5FC9DA 0%, #3FB3C6 50%, #605BA8 100%);
  background: -webkit-linear-gradient(top, #5FC9DA 0%, #3FB3C6 50%, #605BA8 100%);
  background: linear-gradient(to bottom, #5FC9DA 0%, #3FB3C6 50%, #605BA8 100%);
  border-radius: 7.5px;
  padding: 2px 15px 2px 15px;
  color: var(--color-prim);
  font-weight: 700;
  transform: scale(1.1);
}


/* --========== 02 Compare ==========-- */
.comparate {
  display: grid;
  grid-template-columns: 45% max-content 45%;
  grid-template-rows: auto minmax(max-content, 1fr);
  max-width: 2000px;
  margin: 0 5% 0 5%;
  align-items: center;
  place-content: center;
  margin-top: 10%;
}

.title-avant {
  grid-column: 1;
  justify-self: center;
  align-items: center;
  color: var(--g900);
  font-size: 4rem;
  margin: 0;
}

.title-vs {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  color: var(--g900);
  font-size: 4rem;
  font-family: var(--font-body);
  font-weight: 700;
}

.title-logo {
  grid-column: 3;
  justify-self: center;
  align-items: center;
  width: 15rem;
}

.comparate article ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding: 8%;
  list-style: none;
}

.comparate article ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  padding: 5%;
  background-color: #FFFFFF;
  height: 130px;
  text-align: center;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 0.8rem;
}

.comparate article ul li p {
  font-size: 0.7rem;
}

.comparate article.avant {
  grid-column: 1;
  background-color: var(--g100);
  border: 2px solid var(--g900);
  border-radius: 3%;
  box-sizing: border-box;
}

.comparate article.avant ul li {
  border: 2px solid var(--g900);
}

.comparate article.avant ul li img {
  height: 15%;
}

.comparate article.sendly {
  grid-column: 3;
  background-color: var(--g50);
  border: 4px solid var(--color-prim-dark);
  border-radius: 3%;
  box-sizing: border-box;

}

.comparate article.sendly ul li {
  border: 4px solid var(--color-prim);
  box-shadow: -10px 0px 10px -7px var(--color-prim-dark),
    10px 0px 10px -7px var(--color-prim-dark),
    6px -1px 10px -1px var(--color-prim-dark);
}

/* .comparate article.sendly ul li img {
  height: 20%;
} */

.comparate article.sendly ul li h3 {
  color: var(--color-prim-dark);
}

.comparate article.avant ul li.perte {
  grid-column-start: 1;
  grid-row-start: 2;
}

.comparate article.avant ul li.trop {
  grid-column-start: 2;
  grid-row-start: 2;
}

.comparate article.avant ul li.devis {
  grid-column-start: 1;
  grid-row-start: 3;
}

.comparate article.avant ul li.signature {
  grid-column-start: 2;
  grid-row-start: 3;
}

.comparate article.sendly ul li.simple {
  grid-column-start: 2;
  grid-row-start: 1;
}

.comparate article.sendly ul li.devis5 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.comparate article.sendly ul li.endroit {
  grid-column-start: 1;
  grid-row-start: 2;
}

.comparate article.sendly ul li.pdf {
  grid-column-start: 1;
  grid-row-start: 3;
}

/* --========== 03 Demo ==========-- */
#demo {
  background-image: url("../assets/img/testt.png");
  margin-top: 4rem;
  padding: 5rem;
}


#demo h2 {
  margin: 0;
}

#demo h3 {
  text-align: center;
  font-size: var(--font-body);
  color: var(--color-prim-dark);
  margin-bottom: 3rem;
}

#demo video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 800px;
  border: 2px solid var(--color-sec-dark)
}

/* --========== 04 Who it's for ==========-- */
.who {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/img/testt.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.who .sous-title p {
  font-size: 20px;
  text-align: center;
  font-family: "lato";
  font-weight: 700;
  margin-bottom: 60px;
  color: #3fb3c6;
}

.who ul {
  width: 1000px;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 95px;
  margin: 0px 50px 80px 50px;
}

.who li {
  width: 260px;
  border-radius: 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: rgba(9, 30, 66, 0.08) 2px 2px 12px 8px;
  transition: transform 0.3s;
  border-top: solid 4px #605ba8;
}

.who li:hover {
  transform: scale(1.05);
}

.who img {
  width: 300px;
  align-self: center;
  margin-bottom: 8px;
}

.who h3 {
  color: #605ba8;
  font-family: "lato";
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  text-shadow: rgba(141, 137, 137, 0.61) 1px 1px 1px;
  border-bottom: solid 0.5px #605ba8;
  backdrop-filter: blur(10px);
  margin-top: 15px;
  margin-bottom: 7px;
  padding: 0 0 24px 0;
}

.who a {
  color: #004e5a;
  font-family: "lato";
  font-weight: 700;
  font-size: 18px;
  background-color: #5fc9da;
  border-radius: 15px;
  padding: 13px 30px 10px 30px;
  box-shadow: rgba(55, 53, 56, 0.24) 1px 2px 7px 2px;
}

.who a:hover {
  transform: scale(1.03);
  background-color: #605ba8;
  color: #bebaf6;
}

.who p {
  font-family: "lato";
  font-weight: 400;
  font-size: 16px;
  margin: 5px 20px;
  text-align: center;
}

/* --==============================-- */
/* --========== 05 ABOUT ==========-- */
/* --==============================-- */

.about {
  min-height: calc(100vh - 72px);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card {
  width: 900px;
  height: 600px;
  margin: 0 auto;
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
}

.flip-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --============= DECO FLIP CARD ===============-- */
.flip-back {
  background: radial-gradient(circle, #ffffff 26%, #e2e5ea 75%);
  padding: 25px;
  transform: rotateY(180deg);
  padding: 35px 70px 55px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-back img {
  width: 150px;
}

.header-card {
  display: flex;
  justify-content: center;
}

.flip-back h3 {
  font-family: "lato";
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 8px;
  color: #605ba8;
  display: flex;
  align-items: center;
  gap: 10px;
}

.flip-back p {
  margin-bottom: 0;
  padding-top: 25px;
}

.flip-back span {
  color: #3fb3c6;
  font-weight: 900;
}

.flip-back .story-signature {
  text-align: right;
  font-family: "lato";
  font-weight: 700;
  font-size: 18px;
  color: #605ba8;
  padding-top: 45px;
}

/* --========== 06 Pricing ==========-- */


#prices {
  min-height: calc(100vh - 72px);
  width: 100vw;
  background-image: url(../assets/img/bgprices.jpg);
  min-height: 100vh;
  overflow-x: hidden;
}

#prices h2 {
  margin-bottom: 1rem;
}

#prices h2+p {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 25px;
}

#prices div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 3rem;
  overflow-x: scroll;
  scrollbar-width: none;
  overflow-y: visible;
  z-index: 999;
  min-height: 650px;
  height: auto;
  align-items: center;
  gap: 2rem;
}

.pricecard {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid var(--color-sec);
  border-radius: 1.5rem;
  object-fit: cover;
  padding: 2rem 1.5rem;
  width: 20%;
  min-width: 300px;
  height: 500px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.6s ease;
  background-color: var(--g50);
}

.pricecard:hover {
  scale: 1.12;
  background-color: #d2cff7d5;
}

.pricecard h3 {
  color: var(--color-prim);
  font-size: 1.5rem;
}

.pricecard h4 {
  color: var(--g900);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.pricecard h4 span {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--g700);
}

.pricecard ul {
  border-top: 1px solid #eee;
  padding-top: 1.2rem;
  margin-top: 0.5rem;
}

.pricecard li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.btn {
  display: flex;
  align-self: center;
  padding: 0.2rem 4rem;
  background-color: var(--color-sec);
  border-radius: 1rem;
  margin: 1.5rem 0;
  text-align: center;
  color: var(--g900);
  transition: all 0.5s ease;
}

.btn:hover {
  scale: 1.2;
  background-color: var(--color-sec-dark);
}

#premium {
  border: 0.3rem solid var(--color-prim);
  box-shadow: 0 10px 35px rgba(124, 58, 178, 0.18);
  position: relative;
}

.badge {
  position: absolute;
  top: -1.7rem;
  left: 70%;
  padding: 0.3rem 1rem;
  border-radius: 9999px;
  width: 5rem;
  transform: rotate(10deg);
  fill: var(--color-prim);
}

#premium .btn {
  background-color: var(--color-prim);
  color: var(--g50);
}

#premium .btn:hover {
  background-color: var(--color-prim-dark);
}

#premium:hover {
  background-color: #c5ebf1;
}


/* --========== 07 FAQ ==========-- */


.faq {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 72px);
}

.faq details {
  border-bottom: 1px solid #e5e7eb;
  padding: 1rem;
  border: 2px solid var(--color-prim);
  border-radius: 1rem;
  margin: 0.3rem 5rem;
  box-shadow: 6px 6px 15px 2px rgba(0, 0, 0, 0.17);
  width: 50%;

}

/* --========== 08 Final ==========-- */
.faq {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.faq summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 0.5rem;
}

.faq-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--color-prim);
  color: var(--color-prim);
  font-size: 2rem;
  transition: transform 0.5s ease;
}

.faq-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--color-prim);
  color: var(--color-prim);
  font-size: 2rem;
  transition: transform 0.5s ease;
}

.faq-icon img {
  width: 0.8rem;
  height: auto;
}

.faq details[open] .faq-icon {
  transform: rotate(45deg);
}


/* --========== 08 Final ==========-- */


.final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: url(../assets/img/Background_bleu_illustration_10.jpg);
}

.final p {
  font-size: 32px;
}

.final a {
  display: flex;
  align-self: center;
  padding: 1.3rem 4rem;
  background-color: var(--color-prim);
  border-radius: 1rem;
  margin: 3rem 0;
  text-align: center;
  color: var(--g100);
  transition: all 0.5s ease;
  box-shadow: 5px 4px 11px 1px rgba(0, 0, 0, 0.42);
  font-size: 25px;
  font-weight: 700;
}

.final a:hover {
  scale: 1.1;
  background-color: var(--color-prim-dark);
}


/* --========== Footer==========-- */

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-prim);
  width: 100vw;
  color: var(--g100);

}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  padding: 2rem 0;
}

footer div {
  align-self: center;
}