.sous-title p {
  font-size: 22px;
  text-align: center;
  font-family: "lato";
  font-weight: 700;
  color: #5fc9da;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 16px;
  border-top: solid 4px #4d4990;
  padding: 15px 40px;
}

.who h3 {
  position: relative;
  color: #605ba8;
  font-family: "lato";
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  padding: 0 0 24px 0;
  margin-top: 15px;
  margin-bottom: 7px;
}

.who h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 80%;
  height: 1px;
  background: rgba(96, 91, 168, 0.5);
  filter: blur(1.5px);
}

.who h3 {
  color: #605ba8;
  font-family: "lato";
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  text-shadow: rgba(141, 137, 137, 0.61) 1px 1px 1px;
  border-bottom: solid 0.5px #605ba8;
  backdrop-filter: blur(10px);
  margin-top: 15px;
  margin-bottom: 7px;
  padding: 0 0 24px 0;
}

header {
  width: 100%;
  height: 72px;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  background-color: #3fb3c6;

  border-bottom: solid 0.5px #c6c9d5;

  backdrop-filter: blur(10px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  padding: 0 40px;
}

nav ul {
  display: flex;
  align-items: center;

  gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
}

nav li {
  font-size: 18px;
  font-weight: 900;

  color: white;

  transition: 0.3s;

  cursor: pointer;
}

nav li:hover {
  color: #004e5a;
}

/* BTN */

.header-btn-co {
  color: #bebaf6 !important;

  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;

  background-color: #605ba8;

  border-radius: 8px;

  padding: 10px 16px;

  transition: 0.3s;
}

.header-btn-co:hover {
  background-color: #4f4a96;

  color: #bebaf6 !important;
}
